# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.swc/

# env
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
.DS_Store
*.iml

# logs
*.log
npm-debug.log*
pnpm-debug.log*
